.timesheet {
  width: 720px;
  height: 292px;
  margin: 0 auto; }

.timesheet {
  position: relative;
  border-top: 1px solid rgba(250, 250, 250, 0.5);
  background-color: #333333; }
  .timesheet.color-scheme-default .bubble-default {
    background-color: RGBA(252, 70, 74, 1); }
  .timesheet.color-scheme-default .bubble-lorem {
    background-color: RGBA(154, 202, 39, 1); }
  .timesheet.color-scheme-default .bubble-ipsum {
    background-color: RGBA(60, 182, 227, 1); }
  .timesheet.color-scheme-default .bubble-dolor {
    background-color: RGBA(244, 207, 48, 1); }
  .timesheet.color-scheme-default .bubble-sit {
    background-color: RGBA(169, 105, 202, 1); }
  .timesheet .scale {
    position: absolute;
    top: 0;
    left: 0;
    float: left;
    height: 100%; }
    .timesheet .scale section {
      font-family: 'Signika Negative';
      font-size: 13px;
      font-weight: lighter;
      line-height: 24px;
      float: left;
      width: 59px;
      height: 100%;
      text-align: center;
      color: rgba(250, 250, 250, 0.8);
      border-left: 1px dashed rgba(250, 250, 250, 0.2); }
  .timesheet .data {
    font-family: 'Signika Negative';
    font-size: 13px;
    overflow: hidden;
    margin: 28px 0 0 0;
    padding: 0;
    list-style-type: none;
    text-align: left;
    color: rgba(250, 250, 250, 0.8); }
    .timesheet .data li {
      line-height: 22px;
      position: relative;
      display: block;
      clear: both;
      height: 21px;
      margin: 0 0 3px 0;
      white-space: nowrap; }
      .timesheet .data li:hover .bubble {
        opacity: 1; }
      .timesheet .data li .date {
        font-size: 14px;
        color: #b5b5b5; }
      .timesheet .data li .label {
        font-size: 14px;
        font-weight: lighter;
        line-height: 21px;
        padding-left: 5px;
        white-space: nowrap;
        color: #979796; }
      .timesheet .data li .bubble {
        position: relative;
        top: 7px;
        display: block;
        float: left;
        width: 24px;
        height: 7px;
        margin: 0 10px 0 0;
        opacity: .7;
        border-radius: 4px; }